* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 30px;
    background-image: url("../images/texture2.jpg");
}



nav {
  margin: 50px;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 40px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
  overflow-y: hidden;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}

#helpButton {
  margin-top: 350px;
  margin-left: 50px;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 2em;
  border-top: 5px solid;
}

#button {
  width: 80px;
  height: 80px;
}

#text {
  display: none;
  box-shadow: 0px 0px 25px #800000;
  width: auto;
  height: auto;
  position: absolute;
  background: #848484;
  border-radius: 1em;
  border: 1px solid #000;
  outline: none; /* removes the default outline */
  resize: none; /* prevents the user-resizing, adjust to taste */
  padding: 10px;
  margin-top: 350px;
  margin-left: 150px;
  font-size: 18px;
  -webkit-transition: all 2.5s ease;
}

textarea {
  	box-shadow: none;
  	background: #222;
  	width: 500px;
    height: 150px;
    border-radius: 1em;
    border: 1px solid #000;
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
    overflow-y: hidden;
}

strong { 
	color: #151414;
  border-radius: 1em;
  border: 1px solid #000;
}

span {
	border-radius: 	1em;

}

#container {
	margin-top: 100px;
	margin-left: 90px;
	display: none;
}

#container2 {
  margin-top: 100px;
  margin-left: 90px;
  display: none;
}

#container3 {
  margin-top: 100px;
  margin-left: 90px;
  display: none;
}

#container4 {
  margin-top: 100px;
  margin-left: 90px;
  display: none;
}

.style-1 textarea[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 textarea[type="text"]:focus,
.style-1 textarea[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#boxStyle{
	box-shadow: 0px 0px 25px #800000;
	width: auto;
	height: auto;
	position: absolute;
	background: #848484;
    border-radius: 1em;
    border: 1px solid #000;
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
    padding: 10px;
    text-align: center;
}